.abtcontains {
    position: absolute;
    color: #fff;
    top: 1073px;
    text-align: center;
    left: 50%;
    transform: translate(-45%);
    margin-top: 50px;
}

.abtcontains img {
    position: absolute;
    width: 421px;
    top: -246px;
    border-radius: 50%;
    left: -332px;
}

.abtcontains h1 {
    position: relative;
    top: -154px;
    left: 166px;
    font-size: 40px;
}

.abtcontains p {
    position: relative;
    font-size: 19px;
    left: 165px;
    top: -161px;
}

.abtcontains a {
    color: #8630F2;
}