.abtcontains {
    position: absolute;
    color: #fff;
    top: 1073px;
    text-align: center;
    left: 50%;
    transform: translate(-45%);
}

.abtcontains img {
    position: absolute;
    width: 250px;
    top: -277px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-65%);
}

.abtcontains h1 {
    position: relative;
    top: -32px;
    left: -40px;
    font-size: 40px;
}

.abtcontains p {
    position: relative;
    font-size: 19px;
    left: -40px;
    top: -45px;
}

.abtcontains a {
    color: #8630F2;
}

.moreText {
    display: none;
}

.rdmBtn {
    background: none;
    font-size: 19px;
    color: #8630F2;
    cursor: pointer;
}

.text.showMore .moreText {
    display: inline;
}