.abtcontains {
    position: absolute;
    color: #fff;
    top: 1073px;
    left: 231px;
    text-align: center;
}

.abtcontains img {
    position: absolute;
    width: 250px;
    left: 353px;
    top: -277px;
    border-radius: 50%;
}

.abtcontains h1 {
    position: relative;
    top: -32px;
    left: -40px;
    font-size: 40px;
}

.abtcontains p {
    position: relative;
    font-size: 19px;
    left: -40px;
    top: -45px;
}

.abtcontains a {
    color: #8630F2;
}