@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
    font-family: 'Poppins', sans-serif;
}

body {
    border: 0;
    padding: 0;
    background-color: #262626;
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

nav .logo {
    position: absolute;
    width: 131px;
    height: 53px;
    left: 117px;
    top: -15px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    letter-spacing: 0.155em;
    color: #8630F2;
}

nav ul li {
    position: relative;
    display: inline;
    list-style: none;
    width: 156px;
    height: 36px;
    left: 829px;
    top: 9px;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 36px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 2px 22px;
}

nav ul li a:after {
    content: '';
    position: absolute;
    background: #8630F2;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav ul li a:hover:after {
    width: 100%;
}

#hidden {
    color: transparent;
    text-shadow: 0 0 8px #000;
}

#center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

h1, h2, h3, h4, p {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cookieWrap {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    max-width: 365px;
    border-radius: 15px;
    text-align: center;
    padding: 25px 25px 30px ;
}

.cookieWrap img {
    max-width: 195px;
}

.cookieWrap .content {
    margin-top: 10px;
}

.cookieWrap header {
    font-size: 20px;
    font-weight: 600;
}

.cookieWrap p {
    color: #858585;
    margin: 5px 0 20px 0;
}

.cookieWrap .item {
    padding: 10px 20px;
    background: #8630F2;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.cookieWrap.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.cookieWrap.forceHide {
    opacity: 0;
    visibility: hidden;
}