h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2.5px;
}

p {
    position: relative;
    color: white;
    font-size: 13.5px;
    text-align: center;
    letter-spacing: 0.20px;
}

hr {
    border: solid 1.9px white;
    width: 80px;
    animation: sclar 10.5s linear infinite;
}

ul li {
    color: white;
    text-align: center;
    list-style: none;
    font-size: 17px;
    margin-bottom: 10px;
}

.screen {
    height: 150px;
    overflow: hidden;
    position: relative;
}

ul {
    position: absolute;
    bottom: 0;
    animation: scrollCredits 20s linear infinite;
}

a {
    text-decoration: none;
    color: #8630F2;
}

@keyframes sclar {
    50% {
        width: 300px;
    }
}

@keyframes scrollCredits {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}