img {
    position: absolute;
    width: 290px;
    left: 13%;
    top: -2%;
    animation: gshover ease 3.5s infinite;
}

@keyframes gshover {
    50% {
        transform: translateY(15px);
    }
}

h1 {
    position: absolute;
    color: #8630F2;
    font-size: 27px;
    margin: 10px 47px 0;
    top: 40%;
    text-align: center;
}

p {
    position: absolute;
    color: #fff;
    top: 55%;
    font-size: 15px;
    text-align: center;
}
