.color {
    color: #8630F2
}

.hero .ghost {
    position: absolute;
    width: 624px;
    height: 601px;
    left: 744px;
    top: 48px;
    animation: gshover ease 3.5s infinite;
}

@keyframes gshover {
    50% {
        transform: translateY(15px);
    }
}

.hero .title {
    position: absolute;
    width: 578px;
    height: 105px;
    left: 218px;
    top: 206px;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #FFFFFF;
}

.hero .disci {
    position: relative;
    width: 522px;
    height: 94px;
    left: 211px;
    top: 245px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 46px;
    color: #FFFFFF;
}

.hero .button {
    position: absolute;
    display: inline-block;
    padding: 7px 16px;
    left: 215px;
    top: 421px;
    color: #FFFFFF;
    font-size: 19px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #8630F2, #fa4c4c);
}

#ripps {
    position: absolute;
    background: #FFFFFF;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: aniRip 1s linear infinite;
}

@keyframes aniRip {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.socials {
    position: absolute;
    font-size: 32px;
    left: 45px;
    top: 242px;
}

.socials ul li {
    list-style: none;
}

#ins {
    font-size: 40px;
}

.socials ul li a i {
    color: #FFFFFF;
}

.splash {
    position: absolute;
    width: 597.06px;
    height: 790.22px;
    left: 844px;
    top: 153px;
}

.diamond {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 266.51px;
    top: 458px;
    animation: rota 4s linear infinite;
}

.ball {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 347px;
    top: -1px;
    animation: rota 4s linear infinite;
}

.apple {
    position: absolute;
    width: 60px;
    height: 60px;
    left: -29px;
    top: 177px;
    animation: rota 4s linear infinite;
}

@keyframes rota {
    50% {
        transform: rotate(50deg);
    }
}

footer {
    position: absolute;
    color: #FFFFFF;
    bottom: -1900px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

footer a {
    color: #FFFFFF;
}